
@{
    ViewBag.Title = "Index";
}

@*Sales*@

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Northwest Labs</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">New Customers</a></li>
            <li><a href="#">Potential Customers</a></li>
            <li><a href="#">Work Orders</a></li>
            <li><a href="#">Back Orders</a></li>
            <li><a href="#">Discounts</a></li>
            <li><a href="#">Marketing</a></li>
        </ul>
    </nav>

    <div class="container-fluid dashboard-wrapper">
        <div class="container-fluid dashboard-container">
        </div>
    </div>

</div>

