
@{
    ViewBag.Title = "Index";
}

@*Sales*@

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Northwest Labs</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">New Customers</a></li>
            <li><a href="#">Potential Customers</a></li>
            <li><a href="#">Work Orders</a></li>
            <li><a href="#">Back Orders</a></li>
            <li><a href="#">Discounts</a></li>
            <li><a href="#">Marketing</a></li>
        </ul>
    </nav>

    <div class="container-fluid dashboard-wrapper">
        <div class="container-fluid dashboard-container">
            <div class="container">
                <h1>Sales</h1>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="font-size: 35px;">Company Events</div>
                            <div class="panel-body">
                                <div class="col-md-4 col-sm-4">
                                    <img class="img-rounded img-responsive" src="~/Content/images/bowling.jpg" />
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <h2>Christmas Party</h2>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p>
                                                Bowling with Santa. Bring friends, bring family, but most importantly bring yourself!
                                            </p>
                                            <p>
                                                Dont forget to RSVP. Pizza and drinks will be provided.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="font-size: 35px;">Birthdays</div>
                            <div class="panel-body">
                                <div class="col-md-6 col-sm-6">

                                    <p>&#9658;John Smith:</p>
                                    <p>&#9658;Nancy Jones:</p>
                                    <p>&#9658;Kwek Leng Beng</p>
                                    <p>&#9658;Robert Williams:</p>
                                    <p>&#9658;Sydney Robins:</p>

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <p>December 8</p>
                                    <p>December 14</p>
                                    <p>December 15</p>
                                    <p>December 23</p>
                                    <p>December 30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="font-size: 35px;">Weather</div>
                            <div class="panel-body">
                                <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
                                    <!--By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found
                            at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be
                            found at https://www.accuweather.com/en/privacy.-->
                                </a>
                                <div id="awcc1512667447870" class="aw-widget-current" data-locationkey="351409" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1512667447870"></div>
                                <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

