
@{
    ViewBag.Title = "Index";
}

@*Management*@

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Northwest Labs</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Generate Reports</a></li>
            <li><a href="#">Sales Reports</a></li>
            <li><a href="#">Profitibility Reports</a></li>
            <li><a href="#">Credit Terms</a></li>
        </ul>
    </nav>

    <div class="container-fluid dashboard-wrapper">
        <div class="container-fluid dashboard-container">
        </div>
    </div>

</div>


